<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>修改密码</title>
  <link rel="stylesheet" href="/component/pear/css/pear.css" />
  <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js" type="application/javascript"></script>
</head>
<body>
<form class="layui-form" action="">
  <div class="mainBox">
    <div class="main-container">
      <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
          <input type="password" name="password" lay-verify="required|password" autocomplete="off"
                 placeholder="请输入新密码" class="layui-input">
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="button-container">
      <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
              lay-filter="user-save" id="submitBtn">
        <i class="layui-icon layui-icon-ok"></i>
        提交
      </button>
      <button type="reset" class="pear-btn pear-btn-sm">
        <i class="layui-icon layui-icon-refresh"></i>
        重置
      </button>
    </div>
  </div>
</form>
<script src="/component/layui/layui.js"></script>
<script src="/component/pear/pear.js"></script>
<script>layui.use(['form','button','layer'], function() {
  let form = layui.form;
  let button=layui.button
  let layer=layui.layer

  form.verify({
    password: (val) => {
      if (!val || val.length < 5) {
        return '密码不得少于5位'
      }
    }
  })

  form.on('submit(user-save)', function(data) {
    let loading=button.load({
      elem:'#submitBtn'
    })

    $.ajax({
      url: `/user/api/password`,
      data: JSON.stringify(data.field),
      dataType: 'json',
      contentType: 'application/json',
      type: 'put',
    }).done(res=>{
      if(res.success){
        layer.msg('修改成功', {
          icon: 1,
          time: 1500
        }, function () {
          parent.layer.close(parent.layer.getFrameIndex(window
                  .name));
        });
      }else{
        layer.msg(res.message, {
          icon: 2,
          time:1500
        })
      }
      
    }).fail((e)=>{
      console.error(e)

      let errorMessage = '请求时发生错误'

      layer.msg(errorMessage, {
        icon: 2,
        time:1500
      })
    }).always(()=>{
      loading.stop()
    })
    return false;
  });
})</script>
<script></script>
</body>
</html>