<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <link rel="stylesheet" href="/component/pear/css/pear.css"/>
  <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js" type="application/javascript"></script>
</head>
<body class="pear-container">
<div class="layui-card">
  <div class="layui-card-body">
    <table id="user-table" lay-filter="user-table"></table>
  </div>
</div>

<script type="text/html" id="user-toolbar">

</script>

<script type="text/html" id="user-canLogin">
  <input type="checkbox" name="canLogin" value="{{'{{'}}d.id{{'}}'}}" lay-skin="switch" lay-text="可以|禁止" lay-filter="user-canLogin"
         {{'{{'}} d.canLogin === true ? 'checked' : '' {{"}}"}}/>
</script>

<script type="text/html" id="user-isAdmin">
  <input type="checkbox" name="isAdmin" value="{{'{{'}}d.id{{'}}'}}" lay-skin="switch" lay-text="是|否" lay-filter="user-isAdmin"
         {{'{{'}} d.isAdmin === true ? 'checked' : '' {{"}}"}}/>
</script>

<script type="text/html" id="run-time">
  {{'{{'}}# var date=new Date(parseInt(d.createAt+"000")){{'}}'}}
  {{'{{'}}date.getFullYear(){{'}}'}}年{{'{{'}}date.getMonth()+1{{'}}'}}月{{'{{'}}date.getDate(){{'}}'}}日{{'{{'}}date.getHours(){{'}}'}}:{{'{{'}}date.getMinutes().toString().length==1?"0"+date.getMinutes():date.getMinutes(){{'}}'}}
</script>

<script src="/component/layui/layui.js"></script>
<script src="/component/pear/pear.js"></script>
<script>

  function formatTime(t) {
    let time = t + ''
    return t.length === 1?'0'+time : time
  }

  layui.use(['table', 'form', 'jquery', 'common'], function () {
    let table = layui.table;
    let form = layui.form;
    let common = layui.common;

          let cols = [
      [{
        type: 'checkbox'
      },
        {
          title: '用户ID',
          field: 'id',
          align: 'center'
        },
        {
          title: '用户名',
          field: 'username',
          align: 'center'
        },
        {
          title: '邮箱',
          field: 'email',
          align: 'center',
        },
        {
          title: '是否为管理员',
          field: 'isAdmin',
          toolbar:'#user-isAdmin',
          align: 'center',
        },
        {
          title: '是否可登录',
          toolbar: '#user-canLogin',
          align: 'center',
        }
      ]
    ]

    table.render({
      elem: '#user-table',
      url: '/admin/api/user',
      page: true,
      cols: cols,
      skin: 'line',
      request: {
        pageName: 'page',
        limitName:'limit'
      },
      parseData: (res) => {
        return {
          'code': res.code === 200 ? 0 : res.status,
          'msg': res.message,
          'count': res.data.total,
          'data':res.data.rows
        }
      },
      toolbar: '#user-toolbar',
      defaultToolbar: [{
        title: '刷新',
        layEvent: 'refresh',
        icon: 'layui-icon-refresh',
      }, 'filter', 'print', 'exports']
    });

    table.on('toolbar(user-table)', function(obj) {
      if (obj.event === 'refresh') {
        window.refresh();
      }
    });

    form.on('switch(user-canLogin)', function(obj) {
      window.changeLoginStatus(this.value,obj.elem.checked)
    });

    form.on('switch(user-isAdmin)', function(obj) {
      window.changeAdminStatus(this.value,obj.elem.checked)
    });

    window.changeAdminStatus = function(id,isAdmin) {
      layer.confirm(`确定要${isAdmin?'给与':'取消'}用户管理员资格吗？`, {
        icon: 3,
        title: '提示'
      }, function(index) {
        layer.close(index);
        let loading = layer.load();
        $.ajax({
          url: `/admin/api/user/${id}/isAdmin`,
          dataType: 'json',
          type: 'put',
          contentType:'application/json',
          data:JSON.stringify({
            isAdmin:isAdmin
          })
        }).done(result=>{
          if(result.success){
            layer.close(loading);

            layer.msg('修改成功', {
              icon: 1,
              time: 1500
            }, function() {
              table.reload('user-table')
            });
          }else{
            layer.msg(result.message, {
              icon: 2,
              time: 2000
            });
          }
        }).fail(e=>{
          console.error(e)

          let errorMessage = '请求时发生错误'

          layer.msg(errorMessage, {
            icon: 2,
            time: 2000
          });
        }).always(()=>layer.close(loading))
      });
    }

    window.changeLoginStatus = function(id,canLogin) {
      layer.confirm(`确定要${canLogin?'允许':'禁止'}登录`, {
        icon: 3,
        title: '提示'
      }, function(index) {
        layer.close(index);
        let loading = layer.load();
        $.ajax({
          url: `/admin/api/user/${id}/loginStatus`,
          dataType: 'json',
          type: 'put',
          contentType:'application/json',
          data:JSON.stringify({
            canLogin:canLogin
          })
        }).done(result=>{
          if(result.success){
            layer.close(loading);

            layer.msg('修改成功', {
              icon: 1,
              time: 1500
            }, function() {
              table.reload('user-table')
            });
          }else{
            layer.msg(result.message, {
              icon: 2,
              time: 2000
            });
          }
        }).fail(e=>{
          console.error(e)

          let errorMessage = '请求时发生错误'

          layer.msg(errorMessage, {
            icon: 2,
            time: 2000
          });
        }).always(()=>layer.close(loading))
      });
    }

    window.refresh = function() {
      table.reload('user-table');
    }
  })</script>
</body>
</html>