<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>出错啦</title>
  <link href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/layui/2.6.8/css/layui.min.css" type="text/css" rel="stylesheet" />
  <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/layui/2.6.8/layui.min.js" type="application/javascript"></script>
</head>
<body style="text-align: center">
<div style="padding-top: 5vh;">
<i class="layui-icon layui-icon-close-fill" style="font-size: 120px; color: red;"></i>
</div>
<h2 style="margin-bottom: 20px">抱歉，出错了</h2>
<h3 style="margin-bottom: 5px">错误原因：{{message}}</h3>
<h3>状态码：{{code}}</h3>
</body>
</html>