<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>首页 - 阳光小助手</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.cn/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.cn/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/aos.min.css">
  <link href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/baguettebox.js/1.11.1/baguetteBox.min.css" type="text/css" rel="stylesheet" />
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand" href="#page-top">阳光小助手</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/console/login">登录/注册</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="text-center text-white d-flex masthead" style="background-image:url('/assets/img/header.jpg');">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase"><strong>欢迎您使用阳光小助手</strong></h1>
        <hr>
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <p class="text-faded mb-5">阳光小助手是一个可以帮助您更好的完成跑步任务的网站</p><a class="btn btn-primary btn-xl" role="button" href="/console/login">立即开跑</a>
    </div>
  </div>
</header>
<section id="about" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-8 text-center mx-auto">
        <h2 class="text-white section-heading">我们知道你需要什么</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">我们将稳定、高效作为第一要务</p><a class="btn btn-light btn-xl" role="button" href="/console/login">立即开跑</a>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">特点</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-diamond fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
          <h3 class="mb-3">稳定</h3>
          <p class="text-muted mb-0">我们的服务稳定性一流，通过自动任务调度系统完成跑步任务</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-paper-plane fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
          <h3 class="mb-3">快速</h3>
          <p class="text-muted mb-0">只需要输入必要信息，跑步旅程一键开始</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-newspaper-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
          <h3 class="mb-3">自动提示更新</h3>
          <p class="text-muted mb-0">由于客观限制，我们会提示您在必要时更新登录信息</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 text-center">
        <div class="mx-auto service-box mt-5"><i class="fa fa-heart fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
          <h3 class="mb-3">完全免费</h3>
          <p class="text-muted mb-0">我们的服务完全免费并且开源，欢迎您为开源社区做出贡献</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="portfolio" class="p-0"></section>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/aos.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/baguettebox.js/1.11.1/baguetteBox.min.js" type="application/javascript"></script>
<script src="/assets/js/creative.js"></script>
</body>

</html>