<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="/component/pear/css/pear.css" />
    <script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js" type="application/javascript"></script>

</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="layui-form-item">
                <p>提示：点击图片验证码图片可更换验证码图片！</p>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="required|email"
                           autocomplete="off" placeholder="请输入邮箱" class="layui-input" id="form-email">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">验证码</label>
                <div class="layui-input-block">
                    <input type="text" name="captcha" lay-verify="required"
                           autocomplete="off" placeholder="请输入验证码" class="layui-input" id="captcha">
                    <img src="/public/api/captcha" style="margin-top:20px" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱验证码</label>
                <div class="layui-input-block">
                    <input type="text" name="code" lay-verify="required"
                           autocomplete="off" placeholder="请输入邮箱验证码" class="layui-input">
                    <input class="layui-btn" id="sendCode" type="button" value="发送验证码" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" lay-verify="required|password" autocomplete="off"
                           placeholder="请输入密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" name="passwordVerify" lay-verify="required|password" autocomplete="off"
                           placeholder="请输入密码" class="layui-input">
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="register">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="/component/layui/layui.js"></script>
<script src="/component/pear/pear.js"></script>
<script>
    function sendEmailVerify() {
        var code = $('#captcha').val()
        var email=$('#form-email').val()

        if (!code || code.length === 0) {
            layui.layer.alert('请先输入图形验证码', {icon:2})
            return
        }

        if (!/(.+)@(.+)\.(.+)/.test(email)) {
            layui.layer.alert('邮箱不正确', { icon: 2 })
            return
        }
        let loading = layui.layer.load(1)
        $.ajax({
            url: '/public/api/sendEmailCode',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                captcha: code,
                email:email
            })
        }).done(res => {
            if(res.success){
                layui.layer.msg('邮件已发送', {icon:1})
            }else{
                layui.layer.alert(res.message, {icon:2})
            }
        }).fail(e => {
            console.error(e)

            layui.layer.alert('请求时发生错误', {icon:2})
        }).always(() => {
            layui.layer.close(loading)
        })
    }

    function getCaptcha() {
        $('img').attr('src',`/public/api/captcha?r=${Math.random()}`)
    }

    layui.use(['form','layer'], function () {

        let layer = layui.layer;
        let form = layui.form;



        $(document).ready(() => {
            $('img').click(() => getCaptcha())

            $('#sendCode').click(() => sendEmailVerify())
        })

        form.verify({
            password: (val) => {
                if (!val || val.length < 5) {
                    return '密码不得少于5位'
                }
            },
            email: [
                /(.+)@(.+)\.(.+)/,
                '请输入正确的邮箱'
            ]
        })



        form.on('submit(register)', function (data) {
            if (data.field.password !== data.field.passwordVerify) {
                layer.msg('您两次输入密码不一致', { icon: 2 });
                return false
            }

            let loading=layer.load()

            $.ajax({
                url: '/user/api/forgetPassword',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
            }).done(() => {
                layer.msg('密码重置成功', {
                    icon: 1,
                    time: 3000
                }, function () {
                    parent.layer.close(parent.layer.getFrameIndex(window
                        .name)); //关闭当前页
                });
            }).fail((e) => {
                let message
                try {
                    let json = JSON.parse(e.responseText)
                    message = json.message ?? '请求时发生错误，请重试'
                } catch (e) {
                    message = '请求时发生错误，请重试';
                }

                layer.msg(message, {
                    icon: 2,
                    time:1500
                })
            }).always(()=>{
                layer.close(loading)
            })
            return false;
        });
    })</script>
<script></script>
</body>
</html>
